:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.control-panel {
  position: absolute;
  top: 1em;
  right: 1em;
  /* right: 0; */
  background: #fff9;
  /* border: 1px solid #0003; */
  box-shadow: #3333 0px 0px 10px;
  /* margin: 2em; */
  padding: 0.5em 1em;
  color: #333;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
